/*==================================================================
   BACKGROUND BACKGROUND BACKGROUND BACKGROUND BACKGROUND BACKGROUND 
==================================================================*/

.bg-none {background-color: transparent;}
.bg0 {background-color: #fff;}
.bg1 {background-color: #717fe0;}
.bg2 {background-color: #e6e6e6;}
.bg3 {background-color: #222;}
.bg5 {background-color: rgba(0,0,0,0.5);}
.bg6 {background-color: #f2f2f2;}
.bg7 {background-color: #333;}
.bg8 {background-color: #f3f3f3;}
.bg9 {background-color: rgba(255,255,255,0.9);}

.p-t-23
{
    padding-top: 23px;
}
.p-b-140
{
    padding-bottom: 140px;
}
.ltext-103
{
    font-family: Poppins-Bold;
    font-size: 36px;
    line-height: 1.1;
    text-transform: uppercase;
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("/assets/fonts/Poppins-Bold.ttf");
}
@font-face {
    font-family: "Poppins-Medium";
    src: url("/assets/fonts/Poppins-Medium.ttf");
}
@font-face {
    font-family: "Poppins-Regular";
    src: url("/assets/fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: "Poppins-SemiBold";
    src: url("/assets/fonts/Poppins-SemiBold.ttf");
}

.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    /* display: block; */
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(131, 131, 131, 0.897);
    z-index: 20;
}
.hide-loader-container
{
    z-index: -1;
    opacity: 0;
    display: none;
}

.loader {
    width: 200px;
    height: 5px;
    border: 0px;
    background-color: #3d5bf128;
    /* border-radius: 50%; */
    /* animation: spin-anim 1.5s linear infinite; */
    /* -webkit-animation: spin-anim 1.5s linear infinite; */
}
.loader-box
{
    height: 100%;
    background-color: #f2f2f2;
    width: 0%;
    animation: loader-anim 2s linear forwards;
    -webkit-animation: loader-anim 2s linear forwards;
}

@keyframes loader-anim {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}